ion-card {
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to right, #b4e2d3, #84d1b8);
}
ion-card-subtitle {
    color: black;
    text-align: center;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
p {
    color: black;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

ion-card-header {
    margin: 0px;
    padding: 0px;
}
.D {
    background-image: linear-gradient(to right, #de3d55, #e75c71);
}

@media only screen and (orientation: landscape) and (max-width: 700px) {
    p {
        color: black;
        font-size: 20px;
        margin: 0px;
        padding: 0px;
    }
    ion-card-subtitle {
        color: black;
        font-size: 12px;
    }
}
@media only screen and (orientation: landscape) and(min-width: 700px) and (max-width: 900px) {
    p {
        color: black;
        font-size: 20px;
        margin: 0px;
        padding: 0px;
    }
    ion-card-subtitle {
        color: black;
        font-size: 12px;
    }
}
@media only screen and (orientation: landscape) and (min-width: 900px) and (max-width: 1200px) and (min-height: 480px) and (max-height: 600px) {
    p {
        color: black;
        font-size: 24px;
        margin: 0px;
        padding: 0px;
    }
    ion-card-subtitle {
        color: black;
        font-size: 16px;
    }
}
@media only screen and (orientation: landscape) and (min-width: 1200px) and (min-height: 600px) and (max-width: 1900px) {
    ion-card-subtitle {
        font-size: 24px;
    }
    p {
        color: black;
        font-size: 28px;
        margin: 0px;
        padding: 0px;
    }
}

@media only screen and (min-width: 430px) and (max-width: 600px) {
    p {
        color: black;
        font-size: 28px;
        margin: 0px;
        padding: 0px;
    }
    ion-card-subtitle {
        color: black;
        font-size: 18px;
    }
}
@media only screen and (min-width: 600px) and (orientation: portrait) {
    p {
        color: black;
        font-size: 44px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    ion-card-subtitle {
        color: black;
        font-size: 24px;
    }
}
@media only screen and (max-width: 370px) and (orientation: portrait) {
    p {
        font-size: 20px;
    }
    ion-card-subtitle {
        color: black;
        font-size: 14px;
    }
}
