<ion-grid>
  <ion-card>
    <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-card-subtitle> New Confirmed </ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-card-subtitle> New Deaths </ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-card-subtitle> New Recovered </ion-card-subtitle>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>{{ newCases }}</p>
        </ion-col>
        <ion-col class="D">
          <p>{{ newDeaths }}</p>
        </ion-col>
        <ion-col>
          <p>{{ newRecovered }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="c1" (click)="goforward()">
          <ion-card-subtitle> Total Confirmed </ion-card-subtitle>
        </ion-col>
        <ion-col class="c2" (click)="goforward2()">
          <ion-card-subtitle> Total Deaths </ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-card-subtitle> Total Recovered </ion-card-subtitle>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="c1" (click)="goforward()">
          <p>{{ totalCases }}</p>
        </ion-col>
        <ion-col (click)="goforward2()" class="c2" class="D">
          <p>{{ totalDeaths }}</p>
        </ion-col>
        <ion-col>
          <p>{{ totalRecovered }}</p>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
</ion-grid>
