<ion-header>
  <ion-toolbar>
    <ion-title>Covid-19 Data Dashboard App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <p>Author : Michal Kurzal</p><a href ="https://michalkurzal.github.io">Personal Homepage</a>
  </ion-item>
  <ion-item>
    <p>NovelCOVID API</p><a href ="https://github.com/disease-sh/API">https://github.com/disease-sh/API</a>
  </ion-item>
  <ion-item>
    <p> COVID-19 API</p><a href ="https://covid19api.com">https://covid19api.com</a>
  </ion-item>
  <ion-item>
    <p>  This simple APP uses Ionic Framework</p><a href ="https://ionicframework.com/">https://ionicframework.com</a>
  </ion-item>
  <ion-item>
    <p> Angular</p><a href ="https://angular.io/">https://angular.io/</a>
  </ion-item>
  <ion-item>
    <p>Data Charts : D3js</p><a href ="https://d3js.org/">https://d3js.org/</a>
  </ion-item>
</ion-content>
