ion-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
ion-grid {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
img {
    width: 64px;
    float: left;
}

ion-card {
    padding: 0px;
    margin: 0px;
}
p {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
ion-card-subtitle {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
ion-card-header {
    padding: 0px;
    margin: 0px;
}

@media only screen and (min-width: 700px) and (orientation: portrait) {
    p {
        font-size: 30px;
    }
    ion-card-subtitle {
        font-size: 20px;
    }
}
@media only screen and (max-width: 370px) and (orientation: portrait) {
    p {
        font-size: 13px;
    }
    ion-card-subtitle {
        font-size: 14px;
    }
}
@media only screen and (orientation: landscape) and (min-width: 600px) and(max-width: 900px) {
    ion-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0px;
        padding: 0px;
    }
    svg {
        float: left;
        height: 210px;
        width: 200px;
    }
    p {
        font-size: 20px;
    }
    ion-card-subtitle {
        font-size: 12px;
    }
}
@media only screen and (orientation: landscape) and (min-width: 900px) and (min-height: 480px) {
    ion-content {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }

    p {
        font-size: 24px;
    }
    ion-card-subtitle {
        font-size: 16px;
    }
}
@media only screen and (orientation: landscape) and (min-width: 1200px) and (max-width: 1900px) {
    ion-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }
    ion-card-subtitle {
        font-size: 24px;
    }
    p {
        font-size: 28px;
    }
}
