img {
    width: 64px;
    float: left;
}

ion-card {
    padding: 0px;
    margin: 0px;
}
p {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
ion-card-subtitle {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
ion-card-header {
    padding: 0px;
    margin: 0px;
}

.spinner {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 700px) and (orientation: portrait) {
    p {
        font-size: 30px;
    }
    ion-card-subtitle {
        font-size: 20px;
    }
}
@media only screen and (max-width: 370px) and (orientation: portrait) {
    p {
        font-size: 13px;
    }
    ion-card-subtitle {
        font-size: 14px;
    }
}
@media only screen and (orientation: landscape) and (max-width: 1000px) {
    ion-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 0px;
        padding: 0px;
    }
    svg {
        width: 250px;
    }
    p {
        font-size: 20px;
    }
    ion-card-subtitle {
        font-size: 12px;
    }
    ion-grid {
        position: inherit;
    }
}
@media only screen and (orientation: landscape) and (min-width: 1000px) {
    ion-content {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }
    svg {
        width: 480px;
    }

    p {
        font-size: 28px;
    }
    ion-card-subtitle {
        font-size: 20px;
    }
    ion-grid {
        position: inherit;
    }
}
