#s1 {
    position: fixed;
    left: 0px;
    top: 60px;
}
ion-icon {
    font-size: 44px;
}
ion-button {
    height: 50px !important;
}
ion-title {
    font-size: 12px;
}
@media only screen and (orientation: landscape) and (max-width: 1000px) {
    #s1 {
        position: inherit;
        max-height: 600px;
    }
}

@media only screen and (orientation: landscape) and (min-width: 1000px) {
    #s1 {
        position: inherit;
        max-height: 1000px;
    }
}
