#s1 {
    position: fixed;
    left: 0px;
    top: 60px;
}
ion-icon {
    font-size: 44px;
}

@media only screen and (orientation: landscape) and (min-width: 900px) and (max-width: 1200px) and (min-height: 480px) and (max-height: 600px) {
    #s1 {
        max-height: 400px;
    }
}
@media only screen and (orientation: landscape) and (min-width: 1200px) and (min-height: 600px) {
    #s1 {
        max-height: 600px;
    }
}
