<ion-header>
    <ion-toolbar>
        <ion-searchbar (ionInput)="onInput($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list id="container">
        <ion-item *ngFor="let c of dataList" (click)="goforward(c)">
            <img
                src="../../assets/svg/{{c.countryInfo.iso2}}.svg"
                onerror="this.src='../../assets/shapes.svg'"
                style="height: 64px; width: 120px"
            />
            <ion-badge>{{c.country}}</ion-badge>
            <ion-badge color="warning">{{c.cases | number}}</ion-badge>
            <ion-badge color="danger">{{c.deaths | number}}</ion-badge>
            <ion-badge color="success">{{c.recovered | number}}</ion-badge>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data..."
        >
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
