ion-list {
    overflow: scroll;
}
ion-badge {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10px;
}
ion-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 620px) and (orientation: portrait) {
    ion-badge {
        font-size: 16px;
    }
}
@media only screen and (max-width: 370px) and (orientation: portrait) {
    ion-badge {
        font-size: 8px;
        margin: 2px;
    }
}
