ion-card-title{
    color: black;
    font-size: 38px;
    text-align: center;
}
ion-card-subtitle{
    color: black;
    text-align: center;
    font-size: 22px;
}
#c2{
    background-color: red;
}
#c1{
    background-color: blue;
}
#c3{
    background-color: chartreuse;
}