ion-card-title{
    color: black;
    font-size: 28px;
    text-align: center;
    margin: 0px;
}
ion-card-subtitle{
    color: black;
    text-align: center;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}
ion-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    --background:linear-gradient(to right, rgb(154, 169, 219),#5da5c0);

}


div{
  
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    //align-items: center;
    margin: 0px;
    padding: 0px;
}

ion-card{
    margin: 0px;
    background-image:linear-gradient(to right, rgb(126, 148, 223),#1A9CCC);
}
ion-card-header{
    margin: 0px;
    padding: 0px;
}
#svg3{
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
 }
 #svg4{
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 0px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
 }
 ion-icon{
     float: right;
     font-size: 44px;
     margin-left: 25px;
     margin-right: 5px;
     margin-top: 0px;
     margin-bottom: 0px;
     padding: 0px;
     color: black;
 }
 ion-toolbar{
     margin: 0px;
     padding: 0px;
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
 }
 #title{
     margin: 0px;
     padding: 0px;
 }
 ion-header{
    margin:0px;
    padding: 0px;
 }
 p
{
    color:black;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
.D{
    background-image:linear-gradient(to right,red,#d8a3aa);
}
     
#header{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    margin-left: 10px;
}
@media only screen and (orientation: landscape) and (min-width: 600px){
    ion-content{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin:0px;
        padding: 0px;
    }
    #svg3 {
       float: left;
       height: 210px;
       width: 200px;
    
     }
     #svg4 {
        float: left;
        height: 210px;
        width: 200px;
     
      }
     

     div{
      
         top:  0px;
         right: 10px;
     }
     p
     {
         color:black;
         font-size: 20px;
         margin: 0px;
         padding: 0px;
  
     }
     ion-card-subtitle{
         color: black;
         font-size: 12px;
     }
     #header{
         display:none;
     }
   
   }
   @media only screen and (min-width: 430px) and (max-width:600px)
   {
       p
   {
       color:black;
       font-size: 28px;
       margin: 0px;
       padding: 0px;
   }
   ion-card-subtitle{
       color: black;
       font-size: 18px;
   }
   }
   @media only screen and (min-width: 600px)  and (orientation: portrait){
    
       p
   {
       color:black;
       font-size: 44px;
       margin-left: 5px;
       margin-right: 5px;
       margin-top: 0px;
       margin-bottom: 0px;
       padding-left: 5px;
       padding-right: 5px;
       padding-top: 0px;
       padding-bottom: 0px;
   }
   ion-card-subtitle{
       color: black;
       font-size: 24px;
   }
  
   div{

       margin: 0px;
   }
   }