<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goforward()">
                <ion-icon name="bar-chart-outline"></ion-icon>
            </ion-button>  
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="changeTheme()">
                <ion-icon name="{{icon}}"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>COVID-19 Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content id="content">
    <svg id="svg3"></svg>
    <svg id="svg4"></svg>

    <div id="main">
        <ion-refresher
            slot="fixed"
            pullFactor="0.5"
            pullMin="100"
            pullMax="200"
            (ionRefresh)="doRefresh($event)"
        >
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <app-detail-dash
            [totalCases]="dataCont.cases"
            [totalDeaths]="dataCont.deaths"
            [totalRecovered]="dataCont.recovered"
            [newCases]="dataCont.todayCases"
            [newDeaths]="dataCont.todayDeaths"
            [newRecovered]="dataCont.todayRecovered"
        ></app-detail-dash>
        <p id="date">Last Update: {{today | date: 'dd/MM/yyyy HH:mm'}} UTC±00:00</p>
    </div>
</ion-content>
