:host {
    margin: 0px;
    padding: 0px;
}

ion-toolbar {
    --padding-bottom: 0px;
    --padding-top: 0px;
}
ion-button {
    height: 50px !important;
}

ion-icon {
    float: right;
    font-size: 44px;
    margin-left: 25px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
#svg3 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#svg4 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 0px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#date {
    margin-left: 10px;
}

@media only screen and (orientation: landscape) and (min-width: 1000px) {
    #content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #svg3 {
        width: 480px;
    }
    #svg4 {
        width: 480px;
    }
    #main {
        width: 100%;
    }
}

@media only screen and (orientation: landscape) and (max-width: 1000px) {
    #content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #svg3 {
        width: 240px;
    }
    #svg4 {
        width: 240px;
    }
    #main {
        width: 100%;
    }
}
