<ion-header>
    <ion-toolbar>
        <ion-item lines="none" class="header">
            <p id="title">COVID-19 Dashboard</p>
            <ion-icon (click)="goforward()" name="bar-chart-outline"></ion-icon>
            <ion-toggle (ionChange)="onToggleColorTheme($event)"></ion-toggle>

        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content id="content">
    <svg id="svg3"></svg>
    <svg id="svg4"></svg>

    <div id="main">
        <ion-refresher
            slot="fixed"
            pullFactor="0.5"
            pullMin="100"
            pullMax="200"
            (ionRefresh)="doRefresh($event)"
        >
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <app-detail-dash
            [totalCases]="dataCont.cases"
            [totalDeaths]="dataCont.deaths"
            [totalRecovered]="dataCont.recovered"
            [newCases]="dataCont.newCases"
            [newDeaths]="dataCont.NewDeaths"
            [newRecovered]="dataCont.NewRecovered"
        ></app-detail-dash>
    </div>
    <p id="date">Last Update: {{today | date: 'dd/MM/yyyy HH:mm'}} UTC±00:00</p>
</ion-content>
