ion-card-title{
    color: black;
    font-size: 28px;
    text-align: center;
    margin: 0px;
}
ion-card-subtitle{
    color: black;
    text-align: center;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
div{
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

ion-card{
    margin: 0px;
    background-image:linear-gradient(to right, rgb(126, 148, 223),#1A9CCC);
}
ion-card-header{
    margin: 0px;
    padding: 0px;
}
#svg3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    //width: 350px;
    //height: 300px;
    margin-bottom: 10px;
 }
 ion-icon{
     float: right;
     font-size: 48px;
     margin-left: 25px;
     margin-right: 5px;
     margin-top: 0px;
     margin-bottom: 0px;
     padding: 0px;
 }
 ion-toolbar{
     margin: 0px;
     padding: 0px;
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
 }
 #title{
     margin: 0px;
     padding: 0px;
 }
 ion-header{
    margin:0px;
    padding: 0px;
 }
 p
{
    color:black;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
.D{
    background-image:linear-gradient(to right,red,#d8a3aa);
}
     
#header{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    margin-left: 10px;
}
@media only screen and (orientation: landscape) and (min-width: 600px){
    svg {
       float: left;
       height: 250px;
       width: 250px;
       position: absolute;
       top: 10px;
       left: 10px;
     }
    
     div{
         float: right;
         position: absolute;
         top: 100px;
         right: 10px;
     }
     p
     {
         color:black;
         font-size: 20px;
         margin: 0px;
         padding: 0px;
     }
     ion-card-subtitle{
         color: black;
         font-size: 12px;
     }
   
   }