<svg id="svg3">

</svg>
<ion-header>
  <ion-toolbar>
    <ion-title id="title">COVID-19 Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-card >
  <ion-card-header id="c1" routerLink='graphs1'>
    <ion-card-subtitle>TotalConfirmed : </ion-card-subtitle>
    <ion-card-title>  {{TotalC }}</ion-card-title>

  </ion-card-header>
</ion-card>
<ion-card>
  <ion-card-header id='c2'>
    <ion-card-subtitle>TotalDeaths:  </ion-card-subtitle>
      <ion-card-title> {{TotalD }}</ion-card-title>
  </ion-card-header>
</ion-card>
<ion-card >
  <ion-card-header id='c3'>
    <ion-card-subtitle>TotalRecovered: </ion-card-subtitle>
    <ion-card-title>{{TotalR}}</ion-card-title>
  </ion-card-header>
</ion-card>
</ion-content>
