<ion-content>
    <svg id="svg1"></svg>
    <svg id="svg2"></svg>
    <div id="main2">
        <ion-grid>
            <ion-row>
                <ion-item id="country">
                    <ion-col>
                        <img
                            [(ngModel)]="ccode"
                            ngDefaultControl
                            src="{{gurl}}{{ccode}}.png"
                        />
                    </ion-col>
                    <ion-col
                        ><p [(ngModel)]="country" ngDefaultControl>
                            {{country}}
                        </p></ion-col
                    >
                </ion-item>
            </ion-row>
            <ion-card>
                <ion-card-header>
                    <ion-row>
                        <ion-col>
                            <ion-card-subtitle>
                                New Confirmed
                            </ion-card-subtitle>
                        </ion-col>
                        <ion-col>
                            <ion-card-subtitle> New Deaths </ion-card-subtitle>
                        </ion-col>
                        <ion-col>
                            <ion-card-subtitle>
                                New Recovered
                            </ion-card-subtitle>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <p>{{dataCont.newCases}}</p>
                        </ion-col>
                        <ion-col>
                            <p>{{dataCont.NewDeaths}}</p>
                        </ion-col>
                        <ion-col>
                            <p>{{dataCont.NewRecovered}}</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-card-subtitle>
                                Total Confirmed
                            </ion-card-subtitle>
                        </ion-col>
                        <ion-col>
                            <ion-card-subtitle>
                                Total Deaths
                            </ion-card-subtitle>
                        </ion-col>
                        <ion-col>
                            <ion-card-subtitle>
                                Total Recovered
                            </ion-card-subtitle>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <p>{{dataCont.cases}}</p>
                        </ion-col>
                        <ion-col>
                            <p>{{dataCont.deaths}}</p>
                        </ion-col>
                        <ion-col>
                            <p>{{dataCont.recovered}}</p>
                        </ion-col>
                    </ion-row>
                </ion-card-header>
            </ion-card>
        </ion-grid>
    </div>
</ion-content>
