<p>Confimed Cases in the last 20 days</p>
<svg id="svg2">

</svg>

<div>


  <ion-grid>
    <ion-row>
      <ion-item>
   <ion-col> <img [(ngModel)]="cc" ngDefaultControl src='{{gurl}}{{cc}}.png'> </ion-col>  
 <ion-col>    <p [(ngModel)]="cn" ngDefaultControl>{{cn}}</p></ion-col> 
</ion-item>
    </ion-row>
    <ion-card>
      <ion-card-header>
<ion-row>
 <ion-col> <ion-card-subtitle>
    New Confirmed
  </ion-card-subtitle></ion-col> <ion-col><ion-card-subtitle>
    Total Confirmed
  </ion-card-subtitle></ion-col> 
</ion-row>
<ion-row>
  <ion-col>
    <ion-title>
      {{ncon}}
    </ion-title>
  </ion-col>
  <ion-col>
  <ion-title>
  {{tc}}
  </ion-title>
</ion-col>
</ion-row>
<ion-row>
  <ion-col> <ion-card-subtitle>
    New Deaths 
   </ion-card-subtitle></ion-col> <ion-col><ion-card-subtitle>
    Total Deaths
   </ion-card-subtitle></ion-col> 
 </ion-row>
 <ion-row>
  <ion-col>
    <ion-title>
      {{nd}}
    </ion-title>
  </ion-col>
  <ion-col>
  <ion-title>
  {{td}}
  </ion-title>
</ion-col>
</ion-row>
 <ion-row>
  <ion-col> <ion-card-subtitle>
    New Recovered
   </ion-card-subtitle></ion-col> <ion-col><ion-card-subtitle>
    Total Recovered
   </ion-card-subtitle></ion-col> 
 </ion-row>
 <ion-row>
  <ion-col>
    <ion-title>
      {{nr}}
    </ion-title>
  </ion-col>
  <ion-col>
  <ion-title>
  {{tr}}
  </ion-title>
</ion-col>
</ion-row>

   
  </ion-card-header>
</ion-card>
</ion-grid>

</div>
