<ion-content>

  <ion-list id="container"   >

    <ion-item *ngFor="let c of countries" (click)='goforward(c)' >
    <img  src='{{gurl}}{{c.CountryCode}}.png'>  <p id='it'>{{c.Country}}</p>   <ion-badge color="warning">{{c.TotalConfirmed}}</ion-badge> <ion-badge color="danger">{{c.TotalDeaths}}</ion-badge> <ion-badge color="success">{{c.TotalRecovered}}</ion-badge> 
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>